@model IEnumerable<ConnectString.Models.Picture>

@{
    ViewData["Title"] = "Index";
}

<h1>X-ray film</h1>

<div>
    <hr/>
    <h4>Patient Name</h4>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_ID)
        </dt>
        <dd class="col-sm-10">
            
        </dd>


    </dl>



    @foreach (var item in Model)
    {
        <img src="@Url.Content(@item.PPic_url)" alt="@item.PPic_url" style="max-width : 10% ; height : auto;">
        break;

    }

</div>



